.concept {
    background: linear-gradient(0deg, #A1938689 0%, #A1938689 50%, #A193861F 50%, #A193861F 100%);
}

.concept__img {
    display: flex;
    justify-content: space-between;
    height: 400px;
    @include tab {
        height: 200px;
        justify-content: center;
    }
    // &__1 {
    //     width: 60%;
    //     height: 100%;
    //     @include tab {
    //         width: 50%;
        }
        img {
            width: 60%;
            height: 100%;
            object-fit: cover;
            // 伸び縮み
            // height: 100%;
            @include tab {
                height: 100%;
                object-position: 100% 100%;
            }
        
     }
    // &__2 {
    //     height: 100%;
    //     width: 38%;
    //     margin-left: 10px;
    //     @include tab {
    //         width: 50%;
    //         height: 100%;
    //     }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include tab {
                width: 100%;
            }
        }
       


.concept__text {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    @include tab {
        margin: 0;
        flex-direction: column;
        text-align: center;
        color: #fff;
    }
    &__logo {
        width: 35%;
        font-size: 4rem;
        padding-top: 90px;
        font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
        @include tab {
            width: 100%;
            font-size: 1.8rem;
            padding-top: 50px;
        }
    }
    &__desc {
        width: 37%;
        font-size: 1.6rem;
        padding-top: 70px;
        margin-left: 8%;
        font-family: Hiragino Kaku Gothic Pro;
        @include tab {
            width: 100%;
            font-size: 1.6rem;
            padding-top: 1.6rem;
            text-align: left;
            margin: 0;
        }
    }
}