.ft-info {
    display: flex;
    justify-content: space-between;
    @include sp {
        height: 120px;
        flex-direction: column-reverse;
        align-items: center;
    }
    &__sns {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include sp {
            width: 100%;
            justify-content: space-between;
        }
        h2 {
            font-size: 3.2rem;
            margin-right: 2rem;
            @include sp {
                font-size: 1.8rem;
                text-align: left;
            }
        }
        i {
            font-size: 2rem;
            &:last-child {
                margin-left: 1rem;
            }
        }
    }
    &__reserb {
        font-size: 1.8rem;
        line-height: 2;
        border: 1px solid black;
        padding: 0 4rem;
        @include sp {
            width: 50%;
        }
    }
}

footer .inner::before {
    width: 100%;
    content: "";
    display: block;
    border: 1px solid #70707036;
    margin-bottom: 8.5rem;
    margin-top: 16rem;
    @include sp {
        margin: 60px 0;
    }
}
// .ft-info__icon {
    
// }